.btn {
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 35px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 20px;
    background: #00a4d3;
    padding: 20px 25px 20px 25px;
    text-decoration: none;
    float: right;
    border-style: solid;
  }
  