/* .example-sidenav-fab-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  } */
  
  /* .example-sidenav-fab-container mat-sidenav {
    max-width: 700px;
  }
  
  .example-sidenav-fab-container .mat-sidenav-content,
  .example-sidenav-fab-container mat-sidenav {
    display: flex;
    overflow: visible;
  }
  
  .example-scrolling-content {
    overflow: auto;
    height: 100%;
  }
  
  .example-fab.mat-mini-fab {
    position: absolute;
    right: 20px;
    bottom: 10px;
  } */
  
  .example-container {
    width: 1000px;
    height: 900px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #007da0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: #006f8e;
  transition: ease 0.4s;
}