<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
    <a [routerLink]="['/a']"><img width="40px" src="assets/capital_a.png"></a>
    <br>
    <a [routerLink]="['/b']"><img width="40px" src="assets/capital_b.png"></a>
    <br>
    <a [routerLink]="['/c']"><img width="40px" src="assets/capital_c.png"></a>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <!-- <button type="button" mat-button (click)="sidenav.open()">
      Open sidenav
    </button> -->
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>